@import "bourbon/bourbon";


body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  color: #CCCCCC;
  background-color: #4726B7;
}

header.banner {
  padding: 1em;

  h1 {
    font-size: 2em;
  }

  h2.tagline {
    font-size: 1em;
  }
}

section.about {
  padding: 1em;
  color: black;
  background-color: white;

  section {
    margin: 2em;

    h1 {
      font-size: 1.4em;
    }
  }
}

@media(min-width: 900px) {
  section.about {
    @include box(horizontal, center, stretch);
    section {
      @include box-flex(1);
    }
  }
}


footer {
  padding: 0 1em;
}
