@import "bourbon/bourbon";


body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  background-color: #F2F2F2;
  color: #333333;
}

header.banner {
  background-color: #4C377F;
  color: #DDDDDD;
  padding: 1em;
  text-align: center;

  .logo {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 20px;
  }
  h1 {
    font-size: 3.5em;
    font-weight: normal;
  }

  h2.tagline {
    font-size: 1.5em;
    font-weight: lighter;
  }

  nav {
    background-color: #12082B;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 0;
    margin: 0;
    padding: 5px 0;

    ul {
      list-style-type: none;
      float: right;
      padding: 0;
      padding-right: 20px;
      margin: 0;

      li {
        display: inline-block;
        padding: 0 5px;
        font-weight: bold;
        font-size: 1.16em;

        a {
          color: #EAD5A4;
          text-decoration: none;
        }
      }
    }
  }
}

section.about {
  padding: 1em;

  section {
    margin: 2em;

    h1 {
      font-size: 1.4em;
    }
  }
}

@media(min-width: 900px) {
  section.about {
    @include box(horizontal, center, stretch);
    section {
      @include box-flex(1);
    }
  }
}


footer {
  padding: 0 1em;
}
