body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  background-color: #EEEAF9;
  color: #333333; }

header.banner {
  background-color: #4C377F;
  color: #DDDDDD;
  padding: 1em;
  text-align: center; }
  header.banner .logo {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 20px; }
  header.banner h1 {
    font-size: 3.5em;
    font-weight: normal; }
  header.banner a {
    text-decoration: none;
    color: inherit; }
  header.banner h2.tagline {
    font-size: 1.5em;
    font-weight: lighter; }
  header.banner nav {
    background-color: #12082B;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 0;
    margin: 0;
    padding: 5px 0; }
    header.banner nav ul {
      list-style-type: none;
      float: right;
      padding: 0;
      padding-right: 20px;
      margin: 0; }
      header.banner nav ul li {
        display: inline-block;
        padding: 0 5px;
        font-weight: bold;
        font-size: 1.16em; }
        header.banner nav ul li a {
          color: #EAD5A4; }

main {
  padding: 1em; }
  main > section {
    margin: 2em; }
    main > section h1 {
      font-size: 1.4em; }
    main > section h2 {
      font-size: 1.2em; }

@media (min-width: 900px) {
  main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -ms-flex-align: stretch; }
    main section {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -ms-flex: 1; } }
main section.faq, main section.contact {
  padding: 0 30% 0 20%; }

footer {
  padding: 0 1em; }
